<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="static/styles/terms.css">
</head>
<body>
    {% include 'Navbar.html' %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="col-md-12">
            <h1>Terms and Conditions</h1>
            <div class="terms-text">
                <p>
                    These terms and conditions outline the rules and regulations for the use of NeoType's Website.
                </p>
                <p>
                    By accessing this website, we assume you accept these terms and conditions. Do not continue to use NeoType's website if you do not agree to take all of the terms and conditions stated on this page.
                </p>
                <p>
                    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance, and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of the provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to the same.
                </p>
                <h2>Cookies</h2>
                <p>
                    We employ the use of cookies. By accessing NeoType, you agreed to use cookies in agreement with the NeoType's Privacy Policy.
                </p>
                <p>
                    Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.
                </p>
                <h2>License</h2>
                <p>
                    Unless otherwise stated, NeoType and/or its licensors own the intellectual property rights for all material on NeoType. All intellectual property rights are reserved. You may access this from NeoType for your own personal use subjected to restrictions set in these terms and conditions.
                </p>
                <p>You must not:</p>
                <ol class="terms-list">
                    <li>Republish material from NeoType</li>
                    <li>Sell, rent, or sub-license material from NeoType</li>
                    <li>Reproduce, duplicate or copy material from NeoType</li>
                    <li>Redistribute content from NeoType</li>
                </ol>
                <p>This Agreement shall begin on the date hereof.</p>
                <h2>Hyperlinking to our Content</h2>
                <p>The following organizations may link to our Website without prior written approval:</p>
                <ol class="terms-list">
                    <li>Government agencies;</li>
                    <li>Search engines;</li>
                    <li>News organizations;</li>
                    <li>Online directory distributors may link to our Website in the same manner as they hyperlink to the Websites of other listed businesses; and</li>
                    <li>System wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.</li>
                </ol>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    {% block scripts %}
    {% endblock %}
</body>
</html>